<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!--The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="icon" href="../../favicon.ico" type="image/x-icon"/>
        <!-- Compiled and minified Materialize CSS -->
        <meta name="author" content="Ronald Antonio" />
        <meta name="keywords" content="Hacker News Edition" />
        <meta name="description" content="News Scraper Using MongoDB" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <title>Mongo News Scraper</title>

    </head>

    <body>
        <div class="wrapper">
            {{{body}}}
        </div>

        <!-- Sticky footer -->
        <footer class="container-fluid text-center">
            <p id="footer">Copyright © 2018 UCF Coding Bootcamp--RKA</p>
        </footer>

        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/app.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </body>

</html>